.catalogue {
  font-family: 'Microsoft Sans Serif', sans-serif;

  padding-bottom: 20px;

  color: $main-light-clr;

  .item {
    width: 220px;
    height: 202px;
    margin: 20px auto 0;

    border-radius: 6px;
    background: $cat-address-bg-clr;

    .description {
      padding: 8px 0 5px 10px;

      .address {
        display: inline-block;

        .first-part {
          font-size: 17px;
        }

        .second-part {
          font-size: 15px;
        }
      }

      .details {
        display: inline-block;

        width: 33px;
        height: 27px;
        margin-left: 6px;

        cursor: pointer;

        border: 0;
        background-color: transparent;
        background-image: url('../images/icon-details.png');
      }
    }
  }
}
