footer {
  font-family: Arial, sans-serif;

  color: $main-light-clr;
  background-color: $footer-bg-clr;

  h3 {
    font-size: 15px;
    font-weight: bold;

    margin: 15px 0;
  }

  li,
  p {
    font-size: 12px;
    font-weight: 100;

    margin-bottom: 10px;

    color: $footer-txt-a-clr;
  }

  p {
    line-height: 20px;
  }

  a:hover {
    color: $footer-txt-hover-clr;
  }

  img {
    width: 150px;
    margin: 15px 0;
  }
}
