header {
  min-height: 550px;

  color: $main-light-clr;
  background: radial-gradient(circle at 25% 15%, lighten($brand-first-clr, 10%) , transparent 50%),
  linear-gradient($brand-first-clr, darken($brand-first-clr, 10%));

  .top-part {
    .logo-part {
      padding: 15px 0 15px 20px;

      p {
        font-family: 'Microsoft New Tai Lue';
        font-size: 16px;
        line-height: 16px;

        margin-left: 33px;
      }
    }

    .phone-part {
      font-family: 'A Caslon Pro';
      font-size: 24px;

      padding: 15px 20px 15px 0;

      text-align: right;
    }
  }

  .nav-part {
    font-family: 'Microsoft Sans Serif', sans-serif;

    position: relative;

    min-height: 43px;
    padding: 12px 0;

    color: $nav-txt-main-clr;
    background-color: $nav-bg-clr;

    &::after {
      position: absolute;
      bottom: -4px;

      display: block;

      width: 100%;
      height: 4px;

      content: '';

      background: linear-gradient(90deg, transparent, lighten($brand-first-clr, 20%) 30% 70%, transparent);
    }

    nav {
      ul {
        li {
          padding: 0;

          a:hover {
            color: $nav-txt-hover-clr;
          }
        }

        .menu-item,
        .sign-in {
          margin-left: 35px;
        }

        .slash {
          margin: 0 5px;
        }

        .sign-up {
          margin-right: 35px;
        }
      }
    }
  }

  .bottom-part {
    padding-top: 20px;

    .slider {
      margin-bottom: 20px;

      .card {
        font-size: 0;

        padding: 10px;

        background-color: $slider-bg-clr;

        img {
          width: 100%;

          border-bottom: 1px solid $brand-first-clr;
        }

        .description {
          font-family: Arial, sans-serif;

          padding: 10px 20px;

          background-color: $slider-desc-bg-clr;

          h3 {
            font-size: 20px;
            font-weight: 100;

            letter-spacing: 1px;
          }

          p {
            font-size: 14px;

            padding-top: 5px;
          }
        }
      }

      .card-toggle {
        display: flex;

        justify-content: center;

        .card-toggler {
          display: inline-block;

          width: 15px;
          height: 15px;
          margin: 20px 5px 0;

          cursor: pointer;

          border-radius: 50%;
          background-color: $slider-toggler-bg-clr;
        }

        .active {
          background-color: $slider-toggler-active-bg-clr;
        }
      }
    }

    .search {
      font-family: Arial, sans-serif;

      height: 100%;
      margin-bottom: 20px;
    }

    .search-toggle {
      height: 44px;
    }

    .search-toggler {
      display: inline-block;

      width: 132px;
      height: 100%;

      cursor: pointer;

      border-radius: 10px 10px 0 0;
      background-color: $search-bg-clr-notactive;

      h3 {
        font-size: 20px;
        line-height: 44px;

        text-align: center;
      }

      &.active {
        background-color: $search-bg-clr;
      }
    }

    .search-content {
      font-family: Arial, sans-serif;
      font-size: 16px;

      padding: 20px 30px 0;

      background: linear-gradient($search-bg-clr, transparent);

      p {
        margin-bottom: 15px;
        margin-left: 5px;
      }

      input[type='text'],
      input[type='number'] {
        background-color: $search-inputs-bg-clr;
      }

      .address {
        font-size: 17px;

        width: 100%;
        height: 50px;
        margin-bottom: 5px;

        text-align: center;

        border: 3px solid $search-input-address-border-bg-clr;
        border-radius: 10px;

        &::placeholder {
          color: $memb-plchold-clr;
        }
      }

      input[type='checkbox'] {
        display: inline-block;
        margin-bottom: 20px;
        margin-left: 15px;
        width: 10%;

        &+span {
          display: inline-block;
          margin-left: 15px;
          width: 70%;
        }
      }

      .prop-type,
      .bedrooms {
        span,
        input[type='number'] {
          display: inline-block;

          width: 50%;
          margin-bottom: 20px;
        }

        span {
          font-size: 15px;
          padding-right: 15px;
          height: 40px;
          text-align: right;
        }

        input[type='number'] {
          height: 32px;
          padding-left: 15px;

          border: 1px solid $search-input-numver-border-bg-clr;
          border-radius: 5px;

          &::placeholder {
            color: $memb-plchold-clr;
          }
        }
      }

      button {
        font-size: 16px;

        width: 50%;
        height: 32px;
        margin-left: 50%;

        cursor: pointer;
        letter-spacing: 1px;

        color: $main-light-clr;
        border: 0;
        border-radius: 5px;
        outline: 0;
        background: linear-gradient(lighten($search-button-bg-clr, 15%), $search-button-bg-clr);
        box-shadow: 0 2px darken($search-button-bg-clr, 10%);
      }
    }
  }
}
