.info {
  font-family: Arial, sans-serif;

  min-height: 162px;

  background: linear-gradient(lighten($info-bg-clr, 10%), $info-bg-clr);

  h2 {
    font-size: 22px;

    margin: 15px 0;

    color: $info-txt-h-clr;

    &::before {
      display: inline-block;

      width: 32px;
      height: 30px;
      margin-right: 8px;
      margin-bottom: -2px;

      content: '';

      background: url('../images/icon-home.png');
    }
  }

  p {
    font-size: 13px;
    line-height: 20px;

    margin-bottom: 15px;

    color: $info-txt-p-clr;
  }
}
