.membership {
  font-family: Arial, sans-serif;
  color: $main-light-clr;
  background-color: $memb-bg-clr;
  padding-top: 10px;
  .member-login, .subscribe {
    border: 1px solid $memb-border-clr;
    border-radius: 5px;
    background: linear-gradient(lighten($memb-items-bg-clr, 15%), lighten($memb-items-bg-clr, 5%));
    margin-bottom: 10px;
    padding: 15px;

    h3 {
      font-weight: normal;
    }

    input, button {
      margin-top: 10px;
      border: none;
      border-radius: 5px;
      height: 32px;
      font-size: 16px;
    }

    input {
      &::placeholder {
        color: $memb-plchold-clr;
      }
    }
    
    button {
      color: $main-light-clr;
      cursor: pointer;
      background: linear-gradient($memb-items-bg-clr, darken($memb-items-bg-clr, 5%));
      border: 3px solid $memb-border-clr;
    }
  }
 
}