.membership {
  font-family: Arial, sans-serif;

  padding-top: 20px;

  color: $main-light-clr;
  background-color: $memb-bg-clr;

  .member-login,
  .subscribe {
    margin-bottom: 20px;
    padding: 15px;

    border: 1px solid $memb-border-clr;
    border-radius: 5px;
    background: linear-gradient(lighten($memb-items-bg-clr, 15%), lighten($memb-items-bg-clr, 5%));

    h3 {
      font-weight: normal;
    }

    input,
    button {
      font-size: 16px;

      height: 32px;
      margin-top: 10px;

      border: 0;
      border-radius: 5px;
    }

    input {
      &::placeholder {
        color: $memb-plchold-clr;
      }
    }

    button {
      cursor: pointer;

      color: $main-light-clr;
      border: 3px solid $memb-border-clr;
      background: linear-gradient($memb-items-bg-clr, darken($memb-items-bg-clr, 5%));
    }
  }
}
