* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
@import 'variables';

@import 'header';
@import 'info';
@import 'catalogue';
@import 'membership';
@import 'footer';

